<!DOCTYPE html>
<html>
	<head>
		
		<title>Merry Christmas</title>
		
		<meta http-equiv = 'X-Content-Security-Policy: default-src "self";'>
        <meta http-equiv = "Content-Security-Policy: default-src 'self';">

		<link rel="stylesheet" href="static/index.css" type= "text/css">
		<script type= "text/javascript" src= "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>		

	</head>

	<body background = "static/img/paint.jpg">
		<div id= "title">

			<h1>Things Jovanna Would Say!</h1>
		
		</div>


		<div id="saying">

			<h2>{{phrase}}</h2>

		</div>

		<div id="pic">
		
			<img src="static/img/Jo1.jpg" />
		</div>


	</body>


