<!DOCTYPE html>
<html>
	<head>
		
		<title>Merry Christmas</title>

		<script type= "text/javascript" src= "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<link rel="stylesheet" href="static/index.css" type= "text/css">		

	</head>

	<body background = "static/img/paint.jpg">
		<div id= "title">

			<h1>Things Jovanna Would Say!</h1>
		
		</div>


		<div id="saying">

			<h2>{{phrase}}</h2>

		</div>

		<div id="pic">
		
			<img src="static/img/Jo.jpg" />
		</div>


	</body>


